---
import Layout from '~/layouts/Layout.astro';
import HeaderWithRoutes from '~/components/HeaderWithRoutes.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import { getSessionFromRequest } from '~/utils/session';
import '~/assets/styles/application.css';

import { footerData } from '~/footer';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  previewMode?: boolean;
}

const {
  metadata,
  previewMode = false,
} = Astro.props;

const session = getSessionFromRequest(Astro.request);
---
<Layout metadata={metadata}>
  {previewMode && (
    <div class="w-full bg-black text-white text-sm text-center py-1 z-50">
      Preview Mode
    </div>
  )}
  <slot name="header">
    <HeaderWithRoutes session={session} />
  </slot>
  <div id="toast-container" class="fixed top-6 right-6 z-50 space-y-2"></div>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>